@model IEnumerable<G7.Models.UsuarioObj>

@{
    ViewBag.Title = "MostrarUsuarios";
}

<div class="container-fluid py-3">
    <h2 class="pb-3">Mostrar Usuarios</h2>

    <div class="row pb-3">
        <div class="col-md-12">
            @Html.ActionLink("Registrar Usuarios", "RegistrarUsuarios", "Usuario", null, new { @class = "btn btn-dark" })
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Cédula</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Género</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Tipo de Usuario</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.Apellido1)</td>
                            <td>@Html.DisplayFor(modelItem => item.Apellido2)</td>
                            <td>@Html.DisplayFor(modelItem => item.Cedula)</td>
                            <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                            <td>@Html.DisplayFor(modelItem => item.Genero)</td>
                            <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.TipoUsuario)</td>
                            <td>@Html.DisplayFor(modelItem => item.State)</td>
                            <td>
                                @Html.ActionLink("Editar", "EditarUsuarios", "Usuario", new { id = item.IdUsuario }, new { @class = "btn btn-secondary" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>